.container {
  padding: 0 20rem;
}

.card {
  border: 1px solid #3c3c3c;
  height: 30vmin;
  width: 30vmin;
  box-shadow: 2rem 2rem 100px #dddddd33;
  background-color: rgb(122, 122, 122);
  border-radius: 2vmin;
}

.cards {
  display: grid;
  grid-auto-rows: 50rem 50rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}